{% extends 'base.html' %}
{% block content %}
{% load static %}
<body>
    <div class="my-form container p-5 my-5 rounded border border-warning">
        <form>
            <h2 class="text-center">Products</h2>
            <hr>
            <section>
                <div class="container-fluid">
                  <div class="row p-5" >
                    {% for coffees in Products %}
                    <div>
                      <div class="card m-2" style="width: 18rem;">
                        <img src="{{coffees.photo.url}}" class="card-img-top" alt="{{coffees.Product_Name}}" style="height: 300px;">
                        <div class="card-body">
                          <h5 class="card-title">{{coffees.Product_Name}}</h5>
                          <p class="card-text text-truncate">{{coffees.description}}</p>
                          <a href="{% url 'product' coffees.id %}" class="btn btn-warning">Show Details</a>
                        </div> 
                      </div>
                    </div>
                    {% endfor %}
                    </div>
                  </div>
                </div>
            </section>
        

        </form>

    </div>
{% endblock %}